.emotionContainer {
    width: 175px;
}

.oneEmotion {
    margin-bottom: 1em;
}

.communityEmotion {
    width: 155px;
    height: 87px;
    margin-bottom: 1em;
}

.emotionPictures {
    height: 5.2em;
}

.emotionPictures img{
    height: 70px;
}

.secondEmotion {
    float:right;
}

#submitFeelings {
    margin-left: 50px;
    float: right;
}